:root{
    --default-color:#21409a
}
body{
    font-family:Helvetica,Arial,sans-serif;
    margin:auto;
    width:90%;
    max-width:70%;
    color:#404040;
    padding-bottom:100px
}
#logo{
    display:block;
    max-width:30%;
    height:auto
}
#logo-container{
    display:flex;
    justify-content:center
}
h1{
    font-family:'Roboto Condensed',Helvetica,Arial,sans-serif;
    font-size:172.8%;
    display:flex;
    align-items:center;
    justify-content:center
}
h3{
    font-family:'Roboto Condensed',Helvetica,Arial,sans-serif
}
h2{
    font-size:137.1%;
    font-family:'Roboto Condensed',Helvetica,Arial,sans-serif
}
p{
    font-size:1rem
}
footer {
    background-color: #fff;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
label {
    font-size: 16px;
}
.pdfViewer {
    display:inline-block;
    width:50%;
    height:100%;
}
.button-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    margin: 5rem;
}
.button{
    display:inline-block;
    outline:0;
    cursor:pointer;
    font-size:14px;
    line-height:1;
    border-radius:500px;
    transition:background-color .3s,border-color .3s,color .3s,box-shadow .3s,filter .3s;
    border:1px solid transparent;
    letter-spacing:2px;
    min-width:160px;
    max-width: 300px;
    text-transform:uppercase;
    white-space:normal;
    font-weight:700;
    text-align:center;
    color:#fff;
    background-color:var(--default-color);
    height:48px;
    padding: 0 1rem;
    margin: 2rem;
    flex: 1;
}
.button:hover{
    opacity:.9
}
.sliderdiv {
    width: 15rem;
}
.slider{
    -webkit-appearance:none;
    width:100%;
    height:15px;
    border-radius:5px;
    background:#ccc;
    outline:0;
    -webkit-transition:.2s;
    transition:opacity .2s;
    margin:0;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance:none;
    width:25px;
    height:25px;
    border-radius:50%;
    background:var(--default-color);
    cursor:pointer;
}
.slider::-moz-range-thumb{
    width:25px;
    height:25px;
    border-radius:50%;
    background:var(--default-color);
    cursor:pointer;
}
.container{
    display:flex;
    justify-content:right;
    align-items:right;
    position:relative;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:#eee;
    border-radius:20px;
    padding:10px;
    margin:-10px 10px
}
.container input{
    position:absolute;
    opacity:0;
    cursor:pointer;
    height:0;
    width:0
}
.checkmark{
    position:absolute;
    top:8px;
    left:9px;
    background-color:#ccc;
    border:1px solid #999;
    border-radius:50%;
    cursor:pointer;
    height:22px;
    width:22px;
    display:block
}
.container input:checked~.checkmark{
    background-color:var(--default-color);
    border:0
}
.checkmark:after{
    content:"";
    position:absolute;
    display:none
}
.container input:checked~.checkmark:after{
    display:block
}
.container .checkmark:after{
    left:7px;
    top:4px;
    width:5px;
    height:9px;
    border:2px solid #fff;
    border-width:0 3px 3px 0;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg)
}
.checkbox-table{
    width:100%;
    table-layout:fixed;
    border-left:2px solid #eee;
    border-right:2px solid #eee
}
#toptable{
    background-color:var(--default-color);
    border-radius:0;
    border:0
}
.checkbox-table td{
    width:auto;
    text-align:center;
    padding:2em 0
}
.options {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: auto;
    justify-items: center;
    padding:2rem;
    height:5rem;
}
.toggle-container{
    display:flex;
    align-items:center
}
.switch{
    position:relative;
    width:60px;
    height:34px
}
.switch input{
    opacity:0;
    width:0;
    height:0
}
.sliderx{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ccc;
    -webkit-transition:.4s;
    transition:.4s;
    border-radius:34px
}
.sliderx:before{
    position:absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color:var(--default-color);
    -webkit-transition:.4s;
    transition:.4s;
    border-radius:50%
}
input:checked+.sliderx:before{
    -webkit-transform:translateX(26px);
    -ms-transform:translateX(26px);
    transform:translateX(26px)
}
#qacontainer {
    text-align: center;
    margin-top: 10rem;
}
#question {
    margin: 10rem 2rem;
}
#solution {
    display: none;
}
#answer {
    margin: 0 2rem;
    margin-bottom: 100%;
    line-height: 2rem;
}
@media (max-width: 1000px) {
    label {
        font-size: 12px;
    }
    body {
        max-width: 90%;
        width: 90%;
    }
}
@media (max-width: 870px) {
    body {
        max-width: 100%;
        width: 100%;
    }
    h3 {
        padding-left: 1rem;
    }
    .options {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        padding:auto;
        height:auto;
    }
    .toggle-container {
        margin-bottom: 3rem;
    }
    .sliderdiv {
        margin-bottom: 2rem;
    }
}
@media (max-width: 600px) {
    .container {
        display:flex;
        justify-content:center;
        align-items:center;
        padding-bottom:40px;
        font-size: 12px;
    }
    .checkmark{
        top:calc(100% - 31px);
        left:calc(50% - 11px);
    }
    #qacontainer {
        font-size: 14px;
        margin-top: 2rem;
    }
    #qacontainer p {
        font-size: 10px;
    }
    #question {
        margin: 5rem 2rem;
    }
    #answer {
        margin: 0 2rem;
        margin-bottom: 100%;
        line-height: 1rem;
    }
    #answerheader {
        margin-bottom: 1.5rem;
    }
}